@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

  

  html {
    background-color: #F7EDE2;
    font-family: "Raleway";
    font-optical-sizing: auto;
    color: #583939;
  }

  body {
    margin: 0px;
    height: 100vh;
  }


  @media all and (min-width: 501px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    grid-template-areas:
    'sidebar nav horizontal-line'
    'sidebar content .'
    'footer footer footer';
    width: 100vw;
    height: 100vh;
  }

  .footer {
    grid-area: footer;
    padding-top: 3rem;
    padding-bottom: 3rem;
    justify-self: center;
    align-self: flex-end;
  }

  .header {
    grid-area: nav;
    display: flex;
    gap: 38px;
    align-items: center;
    justify-content: flex-end;
  }

  .sidebar {
    grid-area: sidebar;
    padding-right: 8rem;
  }

  .icon-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 22px;
  }

  .nav-bar {
    font-weight: 600;
  }

  .content {
    grid-area: content;
    padding-top: 10rem;
    justify-self: center;
  }

  .horizontal-line {
    grid-area: horizontal-line;
    align-self: center;
    padding-left: 0.8rem;
  }

  .vl {
    border-right: 1px solid #583939;
    height: 38vh;
    margin-right: 15px;
    margin-bottom: 16px;
  }

  hr {
    display: block;
    height: 2px;
    border: 0;
    border-top: 1px solid #583939;
    margin: 1em 0;
    padding: 0;
  }
}

  svg {
    color: #583939;
  }

  svg:hover {
    color: #F28482;
  }

  h1 {
    font-weight: 350;
  }

  h2 {
    font-weight: 300;
    line-height: 1.5;
  }

  a {
    text-decoration: none;
    color: #583939;
  }

  a:hover {
    color: #F28482;
  }

  @media all and (max-width: 500px) {
    .container {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      height: 100vh;
    }

    .content {
      padding-top: 3rem;
      padding-left: 6rem;
      padding-right: 4rem;
    }

    .header:nth-child(1) {
      display: none;
    }
    
    /* .vl:nth-child(1) {
      display: none;
    } */

    /* .sidebar:nth-child(1) {
      display: none;
    } */

    /* .icon-container:nth-child(1) {
      display: none;
    } */

    .sidebar {
      text-align: center;
    }

    .mobile-icons {
      display: flex;
      justify-content: center;
      gap: 40px;
    }

    .horizontal-line {
      display: none;
    }

    .desktop-break {
      display: none;
    }

    .footer {
      text-align: center;
      /* margin-top: auto; */
    }
  }
