@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

  html {
    background-color: #F7EDE2;
    font-family: "Raleway";
    font-optical-sizing: auto;
    color: #583939;
  }

  body {
    margin: 0px;
    height: 100vh;
  }


  @media all and (min-width: 501px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    grid-template-areas:
    'sidebar nav horizontal-line'
    'sidebar content .'
    'footer footer footer';
    width: 100vw;
    height: 100vh;
  }

  .footer {
    grid-area: footer;
    padding-top: 3rem;
    padding-bottom: 3rem;
    justify-self: center;
    align-self: flex-end;
  }

  .header {
    grid-area: nav;
    display: flex;
    gap: 38px;
    align-items: center;
    justify-content: flex-end;
  }

  .sidebar {
    grid-area: sidebar;
    padding-right: 8rem;
  }

  .icon-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 22px;
  }

  .nav-bar {
    font-weight: 600;
  }

  .content {
    grid-area: content;
    padding-top: 10rem;
    justify-self: center;
  }

  .horizontal-line {
    grid-area: horizontal-line;
    align-self: center;
    padding-left: 0.8rem;
  }

  .vl {
    border-right: 1px solid #583939;
    height: 38vh;
    margin-right: 22px;
    margin-bottom: 16px;
  }

  .mobile-menu {
    display: none;
  }

  hr {
    display: block;
    height: 2px;
    border: 0;
    border-top: 1px solid #583939;
    margin: 1em 0;
    padding: 0;
  } 
}

  svg {
    color: #583939;
  }

  svg:hover {
    color: #F28482;
  }

  h1 {
    font-weight: 350;
  }

  h2 {
    font-weight: 300;
    line-height: 1.5;
  }

  a {
    text-decoration: none;
    color: #583939;
  }

  a:hover {
    color: #F28482;
  }

  @media all and (max-width: 500px) {
    .container {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      height: 100vh;
    }

    .content {
      display: flex;
      flex-direction: column;
      padding-top: 9rem;
      padding-left: 6rem;
      padding-right: 4rem;
    }

    .header {
      display: none;
    }
    
    /* .vl:nth-child(1) {
      display: none;
    } */

    /* .sidebar:nth-child(1) {
      display: none;
    } */

    /* .icon-container:nth-child(1) {
      display: none;
    } */

    .sidebar {
      text-align: center;
      margin-top: auto;
      margin-bottom: 1rem;
    }

    .mobile-icons {
      display: flex;
      justify-content: center;
      gap: 40px;
    }

    .horizontal-line {
      display: none;
    }

    .desktop-break {
      display: none;
    }

    .footer {
      text-align: center;
      margin-bottom: 4rem;
      /* margin-top: auto; */
    }

    :root {
      --bar-width: 30px;
      --bar-height: 2px;
      --hamburger-gap: 6px;
      --foreground: #333;
      --background: white; 
      --hamburger-margin: 8px;
      --animation-timing: 200ms ease-in-out;
      --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
    }  

    *,
    *::after,
    *::before {
      box-sizing: border-box;
    }
  
    .hamburger-menu::before,
    .hamburger-menu::after,
    .hamburger-menu input {
      content: '';
      width: var(--bar-width);
      height: var(--bar-height);
      background-color: var(--foreground);
      border-radius: 9999px;
      transform-origin: left center;
      transition: opacity var(--animation-timing), width var(--animation-timing), rotate var(--animation-timing), 
      translate var(--animation-timing), background-color var(--animation-timing);
    }

    .hamburger-menu input {
      appearance: none;
      padding: 0;
      margin: 0;
      outline: none;
      pointer-events: none;
    }

    .hamburger-menu {
      --x-width: calc(var(--hamburger-height) *  1.41421356237);

      display: flex;
      flex-direction: column;
      gap: var(--hamburger-gap);
      width: max-content;
      position: absolute;
      top: var(--hamburger-margin);
      left: var(--hamburger-margin);
      z-index: 2;
      padding-left: 1rem;
      padding-top: 1rem;
    }

    .hamburger-menu:has(input:checked) {
      --foreground: white;
      --background: #333;
    }

    .hamburger-menu:has(input:checked)::before {
      rotate: 45deg;
      width: var(--x-width);
      translate: 0 calc(var(--bar-height) / -2);
    }
    
    .hamburger-menu:has(input:checked)::after {
      rotate: -45deg;
      width: var(--x-width);
      translate: 0 calc(var(--bar-height) / 2);
    }

    .hamburger-menu input:checked {
      opacity: 0;
      width: 0;
    }

    .sidebar-mobile {
      transition: translate var(--animation-timing);
      translate: -100%;
      padding: 0.5rem 1rem;
      padding-top: calc(var(--hamburger-height) + var(--hamburger-margin) + 1rem);
      background-color: var(--foreground);
      color: var(--background);
      max-width: 10rem;
      position: absolute;
      height: 100vh;
    }

    .hamburger-menu:has(input:checked) + .sidebar-mobile {
      translate: 0;
    }

    .mobile-links {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    .icon-container {
      /* height: 60px;
      width: 60px;; */
    }
  }
